@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


*{
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: none !important;
}

video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0, 0.16) !important;
}

.MuiFilledInput-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16) !important;
}

.MuiInput-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16) !important;
}
.rmc-picker-item{
  color: #000 !important;
}
.rmc-picker-indicator{
  border-top:1px solid#000 !important ;
  border-bottom:1px solid #000 !important ;
}
.rmc-picker-mask{
  background: none !important;
  background-image: none !important;
}
input{
  background: none;
}
.quill{
  width: 80vw;
  border-radius: 10px;
  overflow: hidden;
  /* height: 200px;
  overflow: scroll; */
}
.ql-editor{
  height: 200px;
  overflow-y: scroll;
}