*{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: none !important;
}

video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0, 0.16); !important;
}

.MuiFilledInput-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16); !important;
}

.MuiInput-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16); !important;
}
